<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanli.metadata.dao.base.EtlMetaColumnMapper" >
  <resultMap id="BaseResultMap" type="com.fanli.metadata.entity.base.EtlMetaColumn" >
    <result column="table_id" property="tableId" jdbcType="INTEGER" />
    <result column="column_name" property="columnName" jdbcType="VARCHAR" />
    <result column="column_index" property="columnIndex" jdbcType="INTEGER" />
    <result column="column_type" property="columnType" jdbcType="VARCHAR" />
    <result column="column_comment" property="columnComment" jdbcType="VARCHAR" />
    <result column="default_value" property="defaultValue" jdbcType="VARCHAR" />
    <result column="column_access_code" property="columnAccessCode" jdbcType="INTEGER" />
    <result column="is_primary" property="isPrimary" jdbcType="TINYINT" />
    <result column="is_foreign" property="isForeign" jdbcType="TINYINT" />
    <result column="is_partition" property="isPartition" jdbcType="TINYINT" />
    <result column="hot_level" property="hotLevel" jdbcType="INTEGER" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="last_update_user" property="lastUpdateUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    table_id, column_name, column_index, column_type, column_comment, default_value, 
    column_access_code, is_primary, is_foreign, is_partition, hot_level, add_time, update_time, 
    last_update_user
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fanli.metadata.entity.base.EtlMetaColumnExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from etl_meta_column
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.fanli.metadata.entity.base.EtlMetaColumnExample" >
    delete from etl_meta_column
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fanli.metadata.entity.base.EtlMetaColumn" >
    insert into etl_meta_column (table_id, column_name, column_index, 
      column_type, column_comment, default_value, 
      column_access_code, is_primary, is_foreign, 
      is_partition, hot_level, add_time, 
      update_time, last_update_user)
    values (#{tableId,jdbcType=INTEGER}, #{columnName,jdbcType=VARCHAR}, #{columnIndex,jdbcType=INTEGER}, 
      #{columnType,jdbcType=VARCHAR}, #{columnComment,jdbcType=VARCHAR}, #{defaultValue,jdbcType=VARCHAR}, 
      #{columnAccessCode,jdbcType=INTEGER}, #{isPrimary,jdbcType=TINYINT}, #{isForeign,jdbcType=TINYINT}, 
      #{isPartition,jdbcType=TINYINT}, #{hotLevel,jdbcType=INTEGER}, #{addTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{lastUpdateUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fanli.metadata.entity.base.EtlMetaColumn" >
    insert into etl_meta_column
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tableId != null" >
        table_id,
      </if>
      <if test="columnName != null" >
        column_name,
      </if>
      <if test="columnIndex != null" >
        column_index,
      </if>
      <if test="columnType != null" >
        column_type,
      </if>
      <if test="columnComment != null" >
        column_comment,
      </if>
      <if test="defaultValue != null" >
        default_value,
      </if>
      <if test="columnAccessCode != null" >
        column_access_code,
      </if>
      <if test="isPrimary != null" >
        is_primary,
      </if>
      <if test="isForeign != null" >
        is_foreign,
      </if>
      <if test="isPartition != null" >
        is_partition,
      </if>
      <if test="hotLevel != null" >
        hot_level,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="lastUpdateUser != null" >
        last_update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tableId != null" >
        #{tableId,jdbcType=INTEGER},
      </if>
      <if test="columnName != null" >
        #{columnName,jdbcType=VARCHAR},
      </if>
      <if test="columnIndex != null" >
        #{columnIndex,jdbcType=INTEGER},
      </if>
      <if test="columnType != null" >
        #{columnType,jdbcType=VARCHAR},
      </if>
      <if test="columnComment != null" >
        #{columnComment,jdbcType=VARCHAR},
      </if>
      <if test="defaultValue != null" >
        #{defaultValue,jdbcType=VARCHAR},
      </if>
      <if test="columnAccessCode != null" >
        #{columnAccessCode,jdbcType=INTEGER},
      </if>
      <if test="isPrimary != null" >
        #{isPrimary,jdbcType=TINYINT},
      </if>
      <if test="isForeign != null" >
        #{isForeign,jdbcType=TINYINT},
      </if>
      <if test="isPartition != null" >
        #{isPartition,jdbcType=TINYINT},
      </if>
      <if test="hotLevel != null" >
        #{hotLevel,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUser != null" >
        #{lastUpdateUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fanli.metadata.entity.base.EtlMetaColumnExample" resultType="java.lang.Integer" >
    select count(*) from etl_meta_column
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update etl_meta_column
    <set >
      <if test="record.tableId != null" >
        table_id = #{record.tableId,jdbcType=INTEGER},
      </if>
      <if test="record.columnName != null" >
        column_name = #{record.columnName,jdbcType=VARCHAR},
      </if>
      <if test="record.columnIndex != null" >
        column_index = #{record.columnIndex,jdbcType=INTEGER},
      </if>
      <if test="record.columnType != null" >
        column_type = #{record.columnType,jdbcType=VARCHAR},
      </if>
      <if test="record.columnComment != null" >
        column_comment = #{record.columnComment,jdbcType=VARCHAR},
      </if>
      <if test="record.defaultValue != null" >
        default_value = #{record.defaultValue,jdbcType=VARCHAR},
      </if>
      <if test="record.columnAccessCode != null" >
        column_access_code = #{record.columnAccessCode,jdbcType=INTEGER},
      </if>
      <if test="record.isPrimary != null" >
        is_primary = #{record.isPrimary,jdbcType=TINYINT},
      </if>
      <if test="record.isForeign != null" >
        is_foreign = #{record.isForeign,jdbcType=TINYINT},
      </if>
      <if test="record.isPartition != null" >
        is_partition = #{record.isPartition,jdbcType=TINYINT},
      </if>
      <if test="record.hotLevel != null" >
        hot_level = #{record.hotLevel,jdbcType=INTEGER},
      </if>
      <if test="record.addTime != null" >
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastUpdateUser != null" >
        last_update_user = #{record.lastUpdateUser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update etl_meta_column
    set table_id = #{record.tableId,jdbcType=INTEGER},
      column_name = #{record.columnName,jdbcType=VARCHAR},
      column_index = #{record.columnIndex,jdbcType=INTEGER},
      column_type = #{record.columnType,jdbcType=VARCHAR},
      column_comment = #{record.columnComment,jdbcType=VARCHAR},
      default_value = #{record.defaultValue,jdbcType=VARCHAR},
      column_access_code = #{record.columnAccessCode,jdbcType=INTEGER},
      is_primary = #{record.isPrimary,jdbcType=TINYINT},
      is_foreign = #{record.isForeign,jdbcType=TINYINT},
      is_partition = #{record.isPartition,jdbcType=TINYINT},
      hot_level = #{record.hotLevel,jdbcType=INTEGER},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      last_update_user = #{record.lastUpdateUser,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>