<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanli.metadata.dao.base.EtlMetaHiveTableMapper" >
  <resultMap id="BaseResultMap" type="com.fanli.metadata.entity.base.EtlMetaHiveTable" >
    <id column="table_id" property="tableId" jdbcType="INTEGER" />
    <result column="global_id" property="globalId" jdbcType="INTEGER" />
    <result column="hive_db" property="hiveDb" jdbcType="VARCHAR" />
    <result column="input_format" property="inputFormat" jdbcType="VARCHAR" />
    <result column="output_format" property="outputFormat" jdbcType="VARCHAR" />
    <result column="hdfs_location" property="hdfsLocation" jdbcType="VARCHAR" />
    <result column="table_type" property="tableType" jdbcType="VARCHAR" />
    <result column="ddl_with_change" property="ddlWithChange" jdbcType="LONGVARCHAR" />
    <result column="field_terminated" property="fieldTerminated" jdbcType="VARCHAR" />
    <result column="line_terminated" property="lineTerminated" jdbcType="VARCHAR" />
    <result column="store_format" property="storeFormat" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    table_id, hive_db, input_format, output_format, hdfs_location, table_type, ddl_with_change, field_terminated,
    line_terminated, store_format
  </sql>

  <select id="findHiveMetaByTableId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/> FROM etl_meta_hivetable WHERE global_id=#{table_id}
  </select>




</mapper>