<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanli.metadata.dao.base.EtlMetaTableBaseMapper">
  <resultMap id="BaseResultMap" type="com.fanli.metadata.entity.base.EtlMetaTableBase">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="job_id" jdbcType="INTEGER" property="jobId" />
    <result column="table_name" jdbcType="VARCHAR" property="tableName" />
    <result column="domain" jdbcType="VARCHAR" property="domain" />
    <result column="db" jdbcType="VARCHAR" property="db" />
    <result column="schema" jdbcType="VARCHAR" property="schema" />
    <result column="storage_type" jdbcType="VARCHAR" property="storageType" />
    <result column="developer" jdbcType="VARCHAR" property="developer" />
    <result column="owner" jdbcType="VARCHAR" property="owner" />
    <result column="table_comment" jdbcType="LONGVARCHAR" property="tableComment" />
    <result column="task_status" jdbcType="INTEGER" property="taskStatus" />
    <result column="refresh_type" jdbcType="VARCHAR" property="refreshType" />
    <result column="refresh_offset" jdbcType="VARCHAR" property="refreshOffset" />
    <result column="refresh_cycle" jdbcType="VARCHAR" property="refreshCycle" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="is_partition_table" jdbcType="TINYINT" property="isPartitionTable" />
    <result column="data_last_refresh_time" jdbcType="TIMESTAMP" property="dataLastRefreshTime" />
    <result column="table_access_code" jdbcType="INTEGER" property="tableAccessCode" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <!--user defined-->
  <select id="listAllTableNames" resultType="java.lang.String">
    select
    table_name
    from
    etl_meta_table_base
    where status=1
  </select>
  <!--表名模糊搜索-->
  <select id="findTablesByNameFuzzy" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    *
    FROM
    etl_meta_table_base
    WHERE
    status=1 AND table_name LIKE CONCAT('%',#{keyword},'%')
  </select>

  <!--根据params参数列表查table 参数列表不包含id-->
  <select id="findTablesByParams" parameterType="com.fanli.metadata.entity.base.EtlMetaTableBase" resultMap="BaseResultMap">
    SELECT
    *
    FROM
    etl_meta_table_base
    <where>
      <if test="status != null">
        AND status = #{status}
      </if>
      <if test="storageType != null">
        AND storage_type = #{storageType}
      </if>
      <if test="db != null">
        AND db = #{db}
      </if>
      <if test="schema != null">
        AND schema = #{schema}
      </if>
      <if test="tableName != null">
        AND table_name = #{tableName}
      </if>
      <if test="owner != null">
        AND owner = #{owner}
      </if>
      <if test="id != null">
        AND id = #{id}
      </if>
    </where>
  </select>

  <!--根据主键id查询table-->
  <select id="findTableById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT * FROM etl_meta_table_base WHERE status=1 AND id = #{id}
  </select>

</mapper>