<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanli.metadata.dao.base.EtlMetaColumnMapper" >
  <resultMap id="BaseResultMap" type="com.fanli.metadata.entity.base.EtlMetaColumn" >
    <result column="table_id" property="tableId" jdbcType="INTEGER" />
    <result column="column_name" property="columnName" jdbcType="VARCHAR" />
    <result column="column_index" property="columnIndex" jdbcType="INTEGER" />
    <result column="column_type" property="columnType" jdbcType="VARCHAR" />
    <result column="column_comment" property="columnComment" jdbcType="VARCHAR" />
    <result column="default_value" property="defaultValue" jdbcType="VARCHAR" />
    <result column="column_access_code" property="columnAccessCode" jdbcType="INTEGER" />
    <result column="is_primary" property="isPrimary" jdbcType="TINYINT" />
    <result column="is_foreign" property="isForeign" jdbcType="TINYINT" />
    <result column="is_partition" property="isPartition" jdbcType="TINYINT" />
    <result column="hot_level" property="hotLevel" jdbcType="INTEGER" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="last_update_user" property="lastUpdateUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    table_id, column_name, column_index, column_type, column_comment, default_value, 
    column_access_code, is_primary, is_foreign, is_partition, hot_level, add_time, update_time, 
    last_update_user
  </sql>
  <select id="findColumnsByTableId" resultMap="BaseResultMap" parameterType="map">
    SELECT *
    FROM etl_meta_column
    WHERE table_id=#{table_id} AND is_partition=#{isPartition} ORDER BY column_index
  </select>
</mapper>