#main{
    min-height: 850px;
    background-color: white !important;
}

#nav{
    background-color: green;
    /*color: white;*/
}

/*#nav.navbar-default li a{*/
    /*color: white;*/
/*}*/

/*#nav a{*/
    /*color: white;*/
/*}*/

.footer {
    padding-top: 0px;
    width: 100%;
    height: 65px;
    line-height: 65px;
    font-size: 14px;
    text-align: left;
    background-color: #48474d;
}
.footer .container {
    zoom: 1;
}
.footer .container:before,
.footer .container:after {
    content: "";
    display: table;
}
.footer .container:after {
    clear: both;
}
.footer .container p {
    color: #96949b;
    float: left;
    margin-right: 40px;
}

#content-result {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#content-top-models {

}

#search-input {
    font-size: 18px;
}

#search-result tbody tr td a:hover {
    /*background-color: yellow;*/
    /*color: white;/*/
    text-decoration: none;
    font-size: 18px;
}

div.container{
    text-align: left;
}

#inputInfoId /*输入框*/
{
    width: 600px;
    height: 40px;
    line-height:40px;
    border-style: solid;
    font-size: 20px;
    float: left;
}

#searchbutton /*搜索按钮*/
{
    width:200px;
    height:40px;
    line-height:40px;
    cursor:pointer;

    font-size:1.5em;
    color:#FFFFFF;
    letter-spacing:.1em;
    background-color: #3E9CBF;

    float: right;
    text-align: center;
}

.GKCAEGKBCE {
    padding: 3px 15px;
    text-align: left;
    color: #fff;
    background-color: cadetblue;
    font-size: 16px;
    font-weight: bold;
}

.GKCAEGKBLD {
    word-break: keep-all;
    white-space: nowrap;
    padding: 3px 3px;
    overflow: hidden;
    font-size: 16px;
    height: 30px;
    font-family: "Microsoft YaHei" !important;
}


.model-desc-edit-btn {
    float: left;
    width: 100%;
    position: relative;
    min-height: 1px;
}

.btn-operation {
    color: #376ec2;
    padding: 5px 6px;
    border-radius: 5px !important;
}

.bootbox-body {
    overflow: auto;
}

.modal-dialog {
    width: 80%;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-form-custom {
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

span.twitter-typeahead {
    vertical-align: top;
}

.search-group {
    width: 900px;
    /*text-align: left;*/
    /*margin-left: 200px;*/
}

#search-input {
    border-radius: 4px;
    font: 16px/22px arial;
}

#search-input:hover, #search-input:focus {
    border: 1px solid #0097cf;
}

.search-input-width {
    width: 700px !important;
}

.btn-location {
    vertical-align: text-top;
}

.navbar-form-custom {
    width: 100%;
    text-align: left;
}
.navbar-form {
    padding-left: 0px;
    padding-right: 0px;
}

