@charset "utf-8";
.pagination a {
    text-decoration: none;
    border: 1px solid #e0e8eb;
    color: #2283c5;
    background-color: #fafafa;
}

.pagination a:hover, .pagination a:focus {
    background-color: #eaeff2
}

.pagination a, .pagination span {
    display: inline-block;
    padding: 0.1em 0.4em;
    margin-right: 5px;
    margin-bottom: 5px;
    float: none;
    line-height: 1.428571429;
}

.pagination .current {
    background: #6faed9;
    color: #fff;
    border: 1px solid #6faed9;
}

.pagination .current.prev, .pagination .current.next{
    cursor: not-allowed;
    color:#999;
    background-color: #f9f9f9;
    border-color: #d9d9d9
}
