<web-app version="2.4"
		 xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee">
<!--删除了http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd 否则会报错 param element param-name is not allowed here-->

	<display-name>Spring MVC Application</display-name>

	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>meta.root</param-value>
	</context-param>


    <servlet>
		<servlet-name>mvc-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:springmvc/mvc-dispatcher-servlet.xml</param-value>
		</init-param>
		<!-- 何时启动  大于0的值表示容器启动时初始化此servlet，正值越小优先级越高-->
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!--<listener>-->
	<!--<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>-->
	<!--</listener>-->

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/applicationContext-*.xml classpath:springmvc/mvc-dispatcher-servlet.xml
		</param-value>
	</context-param>





	<!--<servlet-mapping>-->
		<!--<servlet-name>mvc-dispatcher</servlet-name>-->
		<!--<url-pattern>/meta/*</url-pattern>-->
	<!--</servlet-mapping>-->
	<servlet-mapping>
		<servlet-name>mvc-dispatcher</servlet-name>
		<url-pattern>/meta/*</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:props/log4j.properties</param-value>
	</context-param>

	<!--<welcome-file-list>-->
		<!--<welcome-file>meta/</welcome-file>-->
	<!--</welcome-file-list>-->
	<!--<welcome-file-list>-->
		<!--<welcome-file>assets/index.html</welcome-file>-->
	<!--</welcome-file-list>-->
</web-app>